/* Reset css */
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;

}

:root{
    --white-color:#fff;
    --black-color: #38383D;
    --text-color: #808089;
    --border-color: #dbdbdb;
    --primary-color: #1a94ff;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-5{
    padding-left: 5px;
    padding-right: 5px; 
    width: 20%;
}


.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;
}